{% extends 'base.html.twig' %}

{% block title %} Welcome {{ participant.pseudo }}{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form_data'}}) }}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.confirmPassword) }}
        {{ form_row(form.city) }}
        {{ form_row(form.photo) }}
        <button class="btn btn-sm btn-primary">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}