{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-6">
				<div class="card shadow">
					<div class="card-body">
						<h1 class="card-title text-center mb-4">Inscription</h1>

						{{ form_start(registrationForm, {'attr': {'class': 'needs-validation'}}) }}
						{# Pseudo field #}
						<div class="mb-3">
							{{ form_label(registrationForm.pseudo, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.pseudo, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Entrez votre pseudo'
                                    }
                                }) }}
							{{ form_errors(registrationForm.pseudo, {'attr': {'class': 'invalid-feedback'}}) }}
						</div>

						{# Nom field #}
						<div class="mb-3">
							{{ form_label(registrationForm.nom, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.nom, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Entrez votre nom'
                                    }
                                }) }}
							{{ form_errors(registrationForm.nom, {'attr': {'class': 'invalid-feedback'}}) }}
						</div>

						{# Prenom field #}
						<div class="mb-3">
							{{ form_label(registrationForm.prenom, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.prenom, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Entrez votre prénom'
                                    }
                                }) }}
							{{ form_errors(registrationForm.prenom, {'attr': {'class': 'invalid-feedback'}}) }}
						</div>

						{# Telephone field #}
						<div class="mb-3">
							{{ form_label(registrationForm.telephone, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.telephone, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Entrez votre numéro de téléphone'
                                    }
                                }) }}
							{{ form_errors(registrationForm.telephone, {'attr': {'class': 'invalid-feedback'}}) }}
						</div>

						{# Email field #}
						<div class="mb-3">
							{{ form_label(registrationForm.email, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.email, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Entrez votre email'
                                    }
                                }) }}
							{{ form_errors(registrationForm.email, {'attr': {'class': 'invalid-feedback'}}) }}
						</div>

						{# Password field #}
						<div class="mb-3">
							{{ form_label(registrationForm.plainPassword.first, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.plainPassword.first, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Entrez votre mot de passe'
                                    }
                                }) }}
							{{ form_errors(registrationForm.plainPassword.first, {'attr': {'class': 'invalid-feedback'}}) }}
						</div>

						{# Confirm Password field #}
						<div class="mb-3">
							{{ form_label(registrationForm.plainPassword.second, null, {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.plainPassword.second, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Confirmez votre mot de passe'
                                    }
                                }) }}
							{{ form_errors(registrationForm.plainPassword.second, {'attr': {'class': 'invalid-feedback'}}) }}
						</div>

						<div class="d-grid gap-2">
							<button type="submit" class="btn btn-primary">S'inscrire</button>
						</div>
						{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
